<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projectucp1.Properties.Settings.TOKO_ROTIConnectionString"
            connectionString="Data Source=LAPTOP-1SH0I1SH\NANA;Initial Catalog=TOKO_ROTI;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="projectucp1.Properties.Settings.TOKO_ROTI_DataSource"
            connectionString="Data Source=MSI;Initial Catalog=TOKO_ROTI;User ID=sa;Password=12345678;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>